# learn Python

## 1. Numeric Data Types
### Integers and Floats

In [299]:
# Integers (int) - whole numbers without decimal points
age = 25
count = -10

# Integer operations
x = 10
y = 3
print(x + y)    # Addition: 13
print(x - y)    # Subtraction: 7
print(x * y)    # Multiplication: 30
print(x / y)    # Division (always returns float): 3.3333...

13
7
30
3.3333333333333335

In [303]:
# Type conversion
int_num = int("123")    # String to integer: 123
int_from_float = int(5.7)  # Float to integer: 5 (truncates decimal)
print(int_num)
print(int_from_float)

123
5

In [305]:
# Floats - numbers with decimal points
price = 19.99
pi = 3.14159

# Float operations
a = 2.5
b = 1.5
print(a + b)    # Addition: 4.0
print(a * b)    # Multiplication: 3.75

4.0
3.75

## 2. Strings
### String Operations

In [310]:
mystr = "hello world"
type(mystr)

str

In [314]:
mystr.upper() 

# Other useful string methods include:
# .upper() - converts to uppercase
# .capitalize() - capitalizes first letter
# .strip() - removes whitespace from ends
# .split() - splits string into list
# .join() - joins list elements into string

'HELLO WORLD'

In [318]:
mystr.capitalize()

'Hello world'

In [316]:
mystr.split()

['hello', 'world']

## 3. Lists
### Working with Lists

In [467]:
# Creating a list with mixed data types
myList = [1, 2.3, "hello", 4, 5, [2,4,5,6]]  # Lists can contain other lists

In [469]:
myList.append(2)      # Adds element to end

In [471]:
myList.remove('hello')  # Removes first occurrence of value

In [473]:
myList.pop()           # Removes and returns last element

2

In [475]:
myList.pop(0)         # Removes and returns element at index 0

1

In [477]:
myList

[2.3, 4, 5, [2, 4, 5, 6]]

In [336]:
myList= [1, 2.3, 4, 5]
myList.sort(reverse=True)  # Sorts list in descending order
myList

[5, 4, 2.3, 1]

In [338]:
# List slicing
myList[0:-1:2]  # Start:End:Step

[5, 2.3]

## 4. Tuples
### Understanding Tuples

In [ ]:
# Creating a tuple
mytuple = (1, [2.3, 5, 6, 7], 3,3, 4, 5)

In [ ]:
# in tuple u cant remove elements

In [341]:
# count specific value
mytuple.count(3)

1

In [345]:
# get index for value
mytuple.index(1)

0

In [349]:
#slicing
mytuple[0]

1

In [351]:
mytuple[1]

[2.3, 5, 6, 7]

In [353]:
type(mytuple[1])

list

In [355]:
# this is list u can add or remove from list 
mytuple[1].append(3)

In [357]:
# its way to workaround that u cant add or remove values from tuple
mytuple

(1, [2.3, 5, 6, 7, 3], 3, 4, 5)

## 5. Dictionaries
### Dictionary Basics

In [360]:
# Creating a dictionary
# dictionary doesn't allow for same key
mydict = {
#       key : value
    "mohamed": 90,
    "ahmed": 85,
    "hassan": 3,
}

In [364]:
# Accessing dictionary values
mydict.get("ahmed")  # returns None if key doesn't exist
mydict["ahmed"]      # Direct access, raises KeyError if key doesn't exist

85

In [366]:
mydict.keys()

dict_keys(['mohamed', 'ahmed', 'hassan'])

In [368]:
mydict.values()

dict_values([90, 85, 3])

In [370]:
mydict.items()

dict_items([('mohamed', 90), ('ahmed', 85), ('hassan', 3)])

In [378]:
# what hassan value now?
mydict = {
    "mohamed": 90,
    "ahmed": 85,
    "hassan": 3,
    "hassan": 5
}

In [382]:
# if there two keys with same name -> dict take last value 
mydict

{'mohamed': 90, 'ahmed': 85, 'hassan': 5}

## 6. IF condition

In [394]:
if True:
    print("This is indented correctly")

This is indented correctly

1. All statements in a block must have the same indentation
2. Don't mix tabs and spaces

- `==` : Equal to
- `!=` : Not equal to
- `>` : Greater than
- `<` : Less than
- `>=` : Greater than or equal to
- `<=` : Less than or equal to
- `and` : Both conditions must be True
- `or` : At least one condition must be True
- `not` : Inverts the condition

In [386]:
mylist

[1, 4, 35, 6, 55]

In [401]:

if mylist[0] == 1:
    
    print(mylist[0])

1

In [403]:
# if else
score = 85
if score >= 90:
    print("A grade")
else:
    print("Failed")

Failed

In [405]:
if score >= 90:
    print("A grade")
elif score >= 80:
    print("B grade")
elif score >= 70:
    print("C grade")
else:
    print("Failed")

B grade

In [407]:
# Combining conditions with logical operators

age = 25
income = 50000

if age > 18 and income >= 30000:
    print("Eligible for loan")

Eligible for loan

## 7. For Loops
### Understanding For Loops in Python

In [410]:
# Basic for loop with range
for i in range(5):    # Iterates 0 to 4
    print(i)

0
1
2
3
4

In [412]:
# range(start, stop, step)
for i in range(2, 10, 2):    # Even numbers from 2 to 8
    print(i)  # Prints: 2, 4, 6, 8

2
4
6
8

In [414]:
# Looping through a list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [416]:
# Looping through dictionary
mydict = {
    "mohamed": 90,
    "ahmed": 85,
    "hassan": 3,
}

In [418]:
# Loop through keys
for student in mydict.keys():
    print(student)

mohamed
ahmed
hassan

In [426]:
# Loop through values
for student in mydict.values():
    print(student)

90
85
5

In [428]:
# Loop through keys and values
for student, score in mydict.items():
    print(f"{student} scored {score}")

mohamed scored 90
ahmed scored 85
hassan scored 5

In [430]:
# Nested loops
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [432]:
# Using break
for i in range(5):
    if i == 3:
        break    # Exit loop when i equals 3
    print(i)

0
1
2

## 8. Functions
### Function Definition and Usage

In [438]:
# Simple function with two parameters
def mysumFunc(num1, num2):
    return num1 + num2

In [440]:
mysumFunc(2,3)

5

In [442]:
# More complex function working with dictionaries
def getStudentGrad(mydict):
    for i in mydict.keys():
        if mydict[i] >= 90:   
            print(f" name is {i} grad is : A")
        elif mydict[i] >= 80:
            print(f" name is {i} grad is : B")
        else:
            print(f" name is {i} grad is : C")

In [444]:
getStudentGrad(mydict)

 name is mohamed grad is : A
 name is ahmed grad is : B
 name is hassan grad is : C

## Section Practice Exercise:

Create a function called `analyze_grades` that takes a list of student grades (numbers between 0-100) as input
The function should:
```python
student_grades = [85, 92, 78, 65, 43, 98, 71, 88, 55, 89]

```
1. Calculate the average

2. Find the highest and lowest grades

3. Count how many students passed (grade >= 60)

4. Count how many students failed (grade < 60)

#### Try to do it by yourself again

after this here is the solution

## Solution

In [451]:
student_grades = [85, 92, 78, 65, 43, 98, 71, 88, 55, 89]

In [452]:
def analyze_grades(student_grades):
    print(f"avavarage : {sum(student_grades)/len(student_grades)}")
    print(f"min : {min(student_grades)}")
    print(f"max : {max(student_grades)}")
    passed_numbers = 0
    fail_numbers = 0
    
    for i in student_grades:
        if i >= 60:
            passed_numbers= passed_numbers+ 1
        else:
            fail_numbers= fail_numbers + 1
    print(f"number of passed {passed_numbers}, number of fails {fail_numbers}")

In [455]:
analyze_grades(student_grades)

avavarage : 76.4
min : 43
max : 98
number of passed 8, number of fails 2